/* HEADER
.header {
  padding: 1em;
}

/* NAVBAR */
/* .navbar {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-family: var(--ff-markazi);
  font-size: calc(var(--fs-regular) + 10px);
}

.logo {
  width: 25%;
}

.navbar-link-container {
  width: 65%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.navbar-link-item {
  list-style: none;
}

.navbar-link {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-weight: var(--fw-bold);
  transition: all 0.3s;

  white-space: nowrap;
}

.navbar-link:hover {
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 375px) {
  .logo {
    width: 147px;
  }

  .navbar-link-container {
    display: none;
  }
}

@media screen and (max-width: 997px) {
  .navbar {
    font-size: var(--fs-regular);
  }
} */

/* MAIN */

/* FOOTER */
/* .footer {
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  display: grid;
  grid-template-columns: 0.55fr 1fr;
} */
/* 
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
} */

/* .footer-link-container {
  padding-left: 0;
  font-size: var(--fs-regular);
}

.footer-img {
  height: 350px;
}

.footer-link-item {
  list-style: none;
}

.footer-link {
  text-decoration: none;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
  transition: all 0.3s;
}

.footer-link:hover {
  color: rgba(0, 0, 0, 0.5);
} */

/* @media screen and (max-width: 375px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .footer-img {
    height: 150px;
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 970px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
} */

img {
  height: 250px;
}

/* APP */
.app {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 200px 1fr 300px;
}

/* HEADER */
.header {
  grid-column: 3 / span 8;
  grid-row: 1 / 2;

  margin-top: 2em;
}

.header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header .navbar .logo {
  height: clamp(100px, 5em, 200px);
  max-width: 250px;
}

.header .navbar .navbar-link-container {
  list-style-type: none;

  font-size: var(--fs-regular);
  font-family: Inter, sans-serif;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}

.header .navbar .navbar-link-container a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-dark);
  font-weight: var(--fw-bold);
  white-space: nowrap;

  transition: color 0.2s;
}

.header .navbar .navbar-link-container a:is(:hover, :focus) {
  color: var(--color-dark-shade);
  border: none;
  outline: none;
}

.header .navbar .navbar-link-container a::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: #000;
  transition: 0.2s;
}

.header .navbar .navbar-link-container a:is(:hover, :focus)::after {
  width: 100%;
}

/* MAIN */
.main {
  grid-column: 1 / span 12;
  grid-row: 2 / 3;
}

/* FOOTER */
.footer {
  grid-column: 1 / span 12;
  grid-row: 3 / 4;

  padding: 3em 20em;

  font-family: Inter, sans-serif;

  background-color: var(--color-primary);
  color: var(--color-light);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer .footer-img {
  flex-grow: 1;
  max-width: 300px;
  height: 100%;
}

.footer .footer-container {
  margin-left: 25em;
  flex-grow: 3;

  font-size: var(--fs-regular);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3em;
}

.footer .footer-container > div {
  flex-grow: 1;
}

.footer .footer-container ul {
  list-style-type: none;
  padding: 0;
}

.footer .footer-container h3 {
  white-space: nowrap;
  color: var(--color-black);
}

.footer .footer-container a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-light);
  transition: color 0.2s;
}

.footer .footer-container a:is(:hover, :focus) {
  color: var(--color-light-shade);
}

.footer .footer-container a[href="https://facebook.com"]:hover
{
  color: var(--color-blue);
}

.footer .footer-container a[href="https://twitter.com"]:hover
{
  color: #000000;
}

/* HERO SECTION */
#hero {
  background-color: var(--color-primary);
}

#hero > div {
  padding: 1.5em 20em;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#hero .hero_header {
  grid-column: 1 / span 8;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#hero .hero_header div {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

#hero .hero_image {
  grid-column: 9 / span 4;
}

#hero h1 {
  font-family: var(--ff-roboto);
  font-size: var(--fs-title);
  margin: 0;
}

#hero h3 {
  font-family: var(--ff-markazi);
  font-size: var(--fs-subtitle);
  margin: 0;
}

#hero p {
  font-family: var(--ff-roboto);
  font-size: var(fs-paragraph-regular);
  line-height: var(--lh-paragraph);
  width: 70%;
}

#hero img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* SPECIALS SECTION */
#specials {
  padding: 3em 20em;
}

#specials .specials_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#specials h2 {
  font-family: var(--ff-karla);
  font-size: var(--fs-subtitle);
}

#specials .specials_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

#specials .specials_item {
  min-height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#specials img {
  width: 100%;
  object-fit: cover;
}

#specials .specials_item-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#specials .specials_item-header h3 {
  font-family: var(--ff-markazi);
  font-size: calc(var(--fs-card-title) + 4px);
}

#specials p {
  font-family: var(--ff-karla);
  font-size: var(--fs-paragraph-regular);
}

#specials .specials_item-header p {
  color: var(--color-accent);
}

#specials .specials_item-cta a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;

  font-family: var(--ff-karla);
  font-size: var(--fs-paragraph-regular);
  font-weight: var(--fw-bold);
  color: var(--color-dark);
  text-decoration: none;
  transition: color 0.2s;
}

#specials .specials_item-cta a:hover {
  color: var(--color-secondary);
}

/* TESTIMONIALS SECTION */
#testimonials {
  padding: 3em 20em;
  background-color: var(--color-secondary);
}

#testimonials .testimonials_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#testimonials .testimonials_header h2 {
  font-family: var(--ff-markazi);
  font-size: var(--fs-subtitle);
}

#testimonials .testimonials_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  font-family: var(--ff-karla);
}

#testimonials .testimonial {
  background-color: var(--color-light);
  padding: 15px;
}

#testimonials .testimonial div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

#testimonials .testimonial .testimonial_img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

#testimonials .testimonial .testimonial_rating,
#testimonials .testimonial .testimonial_name {
  font-weight: var(--fw-bold);
}

/* CHICAGO SECTION */
#chicago {
  padding: 3em 20em;
  min-height: 450px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
}

#chicago .chicago_little-lemon h2,
#chicago .chicago_little-lemon h3 {
  font-family: var(--ff-markazi);
  margin: 0;
}

#chicago .chicago_little-lemon h2 {
  font-size: var(--fs-title);
  font-weight: var(--fw-medium);
}

#chicago .chicago_little-lemon h3 {
  font-size: var(--fs-subtitle);
  font-weight: var(--fw-regular);
}

#chicago .chicago_little-lemon p {
  font-size: calc(var(--fs-regular) + 2px);
  font-weight: var(--fw-bold);
  line-height: var(--lh-paragraph);
}

#chicago .chicago_images {
  position: relative;
}

#chicago .chicago_images img {
  position: absolute;
  width: 250px;
  object-fit: cover;
}

#chicago .chicago_images img:nth-child(1) {
  z-index: 2;
  top: 0px;
  right: 0px;
}

#chicago .chicago_images img:nth-child(2) {
  z-index: 1;
  bottom: 0px;
  left: 10em;
}
