@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");

:root {
  --color-primary: #495e57;
  --color-secondary: #f4ce14;
  --color-dark: #333;
  --color-dark-shade: #333333a1;
  --color-light: #fafafa;

  --ff-markazi: "Markazi Text", serif;
  --ff-karla: "Karla", sans-serif;
  --fs-title: 64px;
  --fs-subtitle: 40px;
  --fs-regular: 18px;

  --rounded: 16px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
